// Main page for Application
// Author: Satish Singh
// Date: 9/20/2015

doctype html
html
  head
    title Sardar Pagri House
    link(type='text/css', rel='stylesheet', href='css/styles.css')
  body
    h1 Jade - node template engine
    #container.col
      p You are amazing
      p
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.
