// Main page for Application
// Author: Satish Singh
// Date: 9/20/2015

doctype html
html
  head
    title Sardar Pagri House
    link(type='text/css', rel='stylesheet', href='css/styles.css')
  body
    .container-fluid.header-top-information-strip
      .container
        .col-md-6
          ul.short-contact-information
            li
              span.icon-phone
                | (564) 123 4567
            li
              span.icon-mail-alt
                | mail.example.com
        .col-md-6
          ul.social-media-container
            li
              a.icon-facebook(href="#")
            li
              a.icon-twitter(href="#")
            li
              a.icon-gplus(href="#")
            li
              a.icon-pinterest(href="#")


