// Main page for Application
// Author: Satish Singh
// Date: 9/20/2015

doctype html
html
  head
    title Sardar Pagri House
    link(type='text/css', rel='stylesheet', href='css/styles.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  body
    include include/header-top-strip
    include include/header
    include include/navigation
    include include/banner-slider


