// Banner Slider
// Author: Satish Singh
// Date: 09/22/2015

.container
    #myCarousel.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      // Wrapper for slides
      .carousel-inner
        .item.active
          img(src='http://static.panoramio.com/photos/original/4789262.jpg' alt='swarna mandir1')
        .item
          img(src='https://upload.wikimedia.org/wikipedia/commons/e/e2/Swarna_Mandir.JPG')
        .item
          img(src='http://static.panoramio.com/photos/original/4789262.jpg')
      // Left and right controls
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
        span.sr-only Previous

      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
        span.sr-only Next

