// Application header
// Author: Satish Singh
// Date: 9/21/2015

.container
   .col-md-6
      .logo
   .col-md-6
      ul.header-primary-links
         li
            a(href="#") Shopping Cart
         li
            a(href="#") Wishlist (0)
         li
            a(href="#") Checkout
         li
            a(href="#") My Account
      .clearfix
      .pull-right
         .search-container
            .input-group
               input(class="form-control" type="text" placeholder="Search")
               span.input-group-btn
                  button.btn.btn-default.glyphicon.glyphicon-search
         .cart-container
            .input-group
               span.input-group-btn
                  button.btn.btn-default.glyphicon.glyphicon-shopping-cart
               .cart-price-details $178.00