// Main product category section
// Author: Satish Singh
// Date: 9/27/2015

.container.product-main-category
    ul
      li
        img(src='images/product-1.png')
        .product-information
          span Ferozi with Silver Flowers
      li
        img(src='images/product-1.png')
        .product-information
          span Ferozi with Silver Flowers
      li
        img(src='images/product-1.png')
        .product-information
            span Ferozi with Silver Flowers
      li
        img(src='images/product-1.png')
        .product-information
            span Ferozi with Silver Flowers

